{% extends 'base.html' %}
{% block content %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="portfolio_submenu">
            <li><a href="/article-admin/"><h5>ARTICLES</h5></a></li>
            <li><a href="/blog-admin/"><h5>BLOG</h5></a></li>
        </ul>
    </div>
 <form method = "POST" action ="" enctype="multipart/form-data"> 
    {% csrf_token %}
        
    <!-- Atricle Contents -->
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header"><h3 class="box-title">Articles Admin Panel</h3></div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Article Image</th>
                <th>Day</th>
                <th>Month</th>
                <th>Calendar</th>
                <th>Author</th>
                <th>Title</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
              {% for con in instance %}
              <tr>
                <td> <img src ='{{con.art_image.url}}' height="50" width="50" class= "img-responsive"></td>
                <td>{{con.art_date}}</td>
                <td>{{con.art_month}}</td>
                <td>{{con.art_calendar}}</td>
                <td>{{con.art_author}}</td>
                <td>{{con.art_title}}</td>
                <td>{{con.art_description}}</td>
                <td><a href='/{{con.id}}/article-update/' class="btn btn-success" role="button">Update</a></td>
                <td><a href='/{{con.id}}/article-delete/' class="btn btn-warning" role="button">Delete</a></td>
              </tr>
              
                {% endfor %}
                <tr>
              	<td><a href='/article-add' class="btn btn-primary" role="button">Add New</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Article END -->
    <hr>
    
  </form>


{% endblock%}