{% extends 'base.html' %}

{% block content %}

	<form method = "POST" action ="" enctype="multipart/form-data"> 
		{% csrf_token %}
		
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Article - Add new</h3>
              </div>

              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                    <tr>
						<td><label for ="title" > Select an image :</label></td>
						<td>{{article_form.art_image}}</td>
					</tr>
					<tr>
						<td><label for ="image_name" > Enter date : </label></td>
						<td>{{article_form.art_date}}</td>
					</tr>
					<tr>
						<td><label for ="img" > Enter month : </label></td>
						<td>{{article_form.art_month}}</td>
					</tr>
					<tr>
						<td><label for ="cat" > Calendar : </label></td>
						<td>{{article_form.art_calendar}}</td>
					</tr>
					<tr>
						<td><label for ="url" > Enter author name : </label></td>
						<td>{{article_form.art_author}}</td>
					</tr>
					<tr>
						<td><label for ="url" > Enter article title: </label></td>
						<td>{{article_form.art_title}}</td>
					</tr>
					<tr>
						<td><label for ="url" > Enter article description: </label></td>
						<td>{{article_form.art_description}}</td>
					</tr>
					<tr>
						<td><input type ="submit" value="Submit" class = "btn btn-success"/></td>
					</tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
	</form>
	
{% endblock %}
