{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AMC-Admin</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/amc_style.css' %}">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="/Home.html/" class="logo">
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>AMC</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a> -->
      <div class="navbar-custom-menu">
        <a href="/logout" class="btn btn-link signout-btn">Sign out</a>
      </div>
      </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <h5 class = "user-name">Welcome : {{current_user}}</h5>
            </div>
            <div class="pull-left info">
              <p></p>
            </div>
          </div>
          <!-- search form 
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                  </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class=" treeview">
              <a href="/home-admin/">
                <span>Home</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/aboutus-admin/">
                <span>About us</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/services-admin">
                <span>Services</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/hms-admin/">
                <span>HMS</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li>
              <a href="/blog-admin/">
               <span>Blog</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/portfolio-admin/">
                <span>Portfolio</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/contact-us-admin/">
                <span>Contact Us</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/footer-admin/">
                <span>Footer</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
            <li class="treeview">
              <a href="/copy-right-admin/">
                <span>Copy Right Quotes</span>
                <span class="pull-right-container">
                </span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper wrapper-style">
        <!-- Main content -->
        <section class="content">
          {% block content %}

          {% endblock %}
        </section>
        <!-- /.content -->
      </div>
  <!-- /.content-wrapper -->

      <footer class="main-footer">
        
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.7
        </div>
        {% for quotes in copyright%}
        <strong>{{quotes.copy_right_quote}}</strong>
        {% endfor %}
      </footer>

    </div>
    <!-- ./wrapper -->


    <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>

   <!--  // <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->

    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{% static 'plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script> 
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'plugins/knob/jquery.knob.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <script src="{% static 'dist/js/app.min.js"></script>
    <script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'dist/js/demo.js' %}"></script>  

    <script src="{% static 'Amc/js/jquery.js' %}"></script> -->
    <script src="{% static 'Amc/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Amc/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'Amc/js/jquery.isotope.min.js' %}"></script> -->
        <script src="{% static 'Amc/js/main.js' %}"></script>
        <script src="{% static 'Amc/js/wow.min.js' %}"></script>


<script type="text/javascript" src="{% static 'jquery-1.8.3.min.js' %}" charset="UTF-8"></script>
 <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
<script type="text/javascript" src="{% static 'bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>


<script type="text/javascript">
  $('.form_datetime').datetimepicker(
  {
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1
  });

$('.form_date').datetimepicker(
{
  language:  'fr',
  weekStart: 1,
  todayBtn:  1,
  autoclose: 1,
  todayHighlight: 1,
  startView: 2,
  minView: 2,
  forceParse: 0
  });

  $('.form_time').datetimepicker(
  {
    language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
  });
</script>

<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2016",
    });
  });
</script>



  </body>
</html>