{% extends 'base.html' %}

{% block content %}

			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Services- Contact Us Update</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
								<tr>
									<td><label for ="title" > Enter the title :</label></td>
									<td>{{con_header_form.con_title}}</td>
								</tr>
								<tr>
									<td><label for ="image_name" > Select an Image : </label></td>
									<td>{{con_header_form.con_icon_img}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Enter Description (First-Line): </label></td>
									<td>{{con_header_form.con_desc1}}</textarea></td>
								</tr>
								<tr>
									<td><label for ="desc" > Enter Description (Second-Line) : </label></td>
									<td>{{con_header_form.con_desc2}}</textarea></td>
								</tr>
								<tr>
									<td><input type ="submit" value="Update" class = "btn btn-success"/></td>
								</tr>
							</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

{% endblock %}