<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <title>Contact Us | AMC</title>

    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/animate.min.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/prettyPhoto.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/main.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'Amc/css/responsive.css' %}"> 
    
    <!-- <script src="{% static 'Amc/js/jquery.js' %}"></script> -->
    <script src="{% static 'Amc/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Amc/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'Amc/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'Amc/js/main.js' %}"></script>
    <script src="{% static 'Amc/js/wow.min.js' %}"></script>
          
</head><!--/head-->

<body class="homepage">
    

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home.html/"><img src="{% static 'Amc/images/MENU_BAR/logo.png'%}" alt="logo"     width="121px"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/About.html/">About</a></li>
                        <li><a href="/Services.html/">Services</a></li>
                        <li><a href="/HMS.html/">HMS</a></li> 
                        <li><a href="/Blog.html/">Blog</a></li>
                        <li><a href="/Portfolio.html/">Portfolio</a></li>
                        <li><a href="/Contact-us.html/">Contact us</a></li> 
                        <li>
                            <div class="social">
                                <ul class="social-share">
                                    <li><a href="#"><img src="{% static 'Amc/images/MENU_BAR/facebook.png'%}" alt="logo" width="26px"></a></li>
                                    <li><a href="#"><img src="{% static 'Amc/images/MENU_BAR/twitter.png'%}" alt="logo" width="26px"></a></i></a></li>
                                    <li><a href="#"><img src="{% static 'Amc/images/MENU_BAR/linkedin.png'%}" alt="logo" width="26px"></a></a></li>
                                </ul>
                            </div>
                        </li>                      
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

     <section id="recent-works">
        <div class="container">
            {% for obj in instance %}
            <div class="center wow fadeInDown">
                <div class="amc_icon">
                    <img class="img-responsive wow fadeInDown center-block" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{obj.con_icon_img.url}}" style="width:64px;">
                </div>
                 <h3>{{obj.con_title}}</h3>
                <div class="amc_icon">
                      <h4 class="lead">{{obj.con_desc1}}</h4>
                      <h4 class="lead">{{obj.con_desc2}}</h4>
                </div>      
            </div>
             {% endfor %}         
        </div><!--/.container-->
    </section><!--/#recent-works-->

     <section id="feature" >
        <div class="container">            
            <div class="row">
                <div class="features">
                    <div class="col-md-12 col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
               <!--  <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <label>Name *</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Email *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Related To *</label>
                            <input type="text" name="subject" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Description *</label>
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>                        
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Submit Message</button>
                        </div>
                         <div class="amc_icon">
                              <h4 class="lead">We will get back to you within the next working day.</h4>
                        </div>                      
                    </div>                    
                </form> -->


                <form id="main-contact-form" class="contact-form" name="contact-form"  action="{% url 'email_send' %}" method="post"> {% csrf_token %}
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <label>Name *</label>
                            <input type="text" name="name" class="form-control" required="required">
                        </div>
                         <div class="form-group">
                            <label>Email *</label>
                            <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Related To *</label>
                            <input type="text" name="subject" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Description *</label>
                            <textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>                      
                        <div class="form-group">
                          <a href="/email_sent_page.html/">  <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required"> Submit Message</button></a>

                        </div>
                         <div class="amc_icon">
                              <h4 class="lead">We will get back to you within the next working day.</h4>
                        </div>                      
                    </div>                   
                </form> 
            </div><!--/.row-->
        </div><!--/.col-md-4-->
    </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
            <div class="container">
                <div class="center wow fadeInDown">
                    <div class="container contact_address">
                        <div class="col-md-12 col-sm-12"> 
                            <div class="col-md-6 col-sm-12" id="map">
                                <div style="width:100%;overflow:hidden;height:200px;max-width:200%;">
                                    <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                                        <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Sydney,+New+South+Wales,+Australia&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU">
                                        </iframe>
                                    </div>
                                    <a class="embedded-map-code" rel="nofollow" href="http://www.interserver-coupons.com" id="enable-map-info">http://www.interserver-coupons.com</a>
                                    <style>#embed-map-display .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style>
                                </div>
                                <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=53be7f1d-d1b6-c234-3688-a0a7b815f39c&c=embedded-map-code&u=1478088521" defer="defer" async="async"></script>
                            </div>
                            <div class=" map_address col-md-6 col-sm-12" style="text-align:left;">
                                <h3>SINGAPORE(HQ)</h3>
                                <p>
                                    70 Duxton Road 
                                    singapore 089529
                                </p>
                                <p>
                                    +65 6223 3188
                                </p>
                                <p>    
                                    <a href="http://enquiries@amcits.sg" style="color:black">enquiries@amcits.sg</a>
                                </p>
                            </div>       
                        </div>
                    </div>
                </div>                                          
            </div><!--/.container-->
    </section><!--/#recent-works-->
    {% include 'webpage/footer.html' %}
</body>
</html>