{% extends 'base.html'%}
{% block content %}


      <form method = "GET" action ="" enctype="multipart/form-data">
        {% csrf_token %}          
        <!-- Contact us- Header BEGIN-->
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Copy Right Quote Contents</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th>ID</th>
                      <th>Copy Right Quote</th>
                      <th>Update</th>
                      <th>Delete</th>
                    </tr>
                    {% for con in instance %}
                    <tr>
                      <td>{{con.id}}</td>
                      <td>{{con.copy_right_quote}}</td>
                      <td><a href='/{{con.id}}/copy-right-update/' class="btn btn-success" role="button">Update</a></td>
                      <td><a href='/{{con.id}}/copy-right-delete/' class="btn btn-warning" role="button">Delete</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td><a href='/copy-right-add' class="btn btn-primary" role="button">Add New</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </form>
 
{% endblock %}