<!DOCTYPE html>
<html>
<head>
    <title> AMC | email</title>
</head>
<body>
{% include 'webpage/layout.html' %}
{% include 'webpage/header.html' %}

<div class="form-group">
	<h2>Your message has been sent successfully...</h2>
<a href="/Home.html/">  
	<button type="submit" name="submit" class="btn btn-default" required="required">Return Home</button></a>

<!-- <a href="/amc_index_page">Go Home</a> -->
</div>

</body>
</html>