{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3>Hello ,{{ user.username }}</h3>
            <p>Welcome to CRM</p>
        </div>
    </div>
</div>
{% endblock %}