{% extends 'base_auth.html' %}


{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                {% if validlink %}
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body">
  <form method="post" action="">{% csrf_token %}
   <p class="bs-component">
  <table>
  <h6>  The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset..</h6>
     <tr>
        <td> {{ form.as_p }}</td>
        

    </tr>

   


    </table>
     <p class="bs-component">
       <center>
         <input class="btn btn-success btn-sm" type="submit" value="Confirm" />
       </center>
    </p>
    
  
  </form>


  
    
    
     
 
  {% endif %}
{% endblock %}