{% extends 'base.html' %}

{% block content %}

	
			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Portfolio- Mobile-products Update</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
							<tr>
								<td><label for ="title" > Select an icon image :</label></td>
								<td>{{portfolio_mob_form.mob_icon}}</td>
							</tr>
							<tr>
								<td><label for ="image_name" > Enter the title : </label></td>
								<td>{{portfolio_mob_form.mob_title}}</td>
							</tr>
							<tr>
								<td><label for ="img" > Select Product Image : </label></td>
								<td>{{portfolio_mob_form.mob_image}}</td>
							</tr>
							<tr>
								<td><label for ="cat" > Enter product category : </label></td>
								<td>{{portfolio_mob_form.mob_category}}</td>
							</tr>
							<tr>
								<td><label for ="url" > Enter web address(URL) : </label></td>
								<td>{{portfolio_mob_form.mob_url}}</td>
							</tr>
							<tr>
								<td><input type ="submit" value="Update" class = "btn btn-success"/></td>
							</tr>
							</tbody>
						</table>
					   </div>
	                </div>
	            </div>
	           
			</form>
	
	
{% endblock %}