{% extends 'base.html' %}

{% block content %}

		
			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Portfolio- Website-products Add</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
	                        <tr>
								<td><label for ="title" > Select an icon image :</label></td>
								<td>{{portfolio_web_form.web_icon}}</td>
							</tr>
							<tr>
								<td><label for ="image_name" > Enter the title : </label></td>
								<td>{{portfolio_web_form.web_title}}</td>
							</tr>
							<tr>
								<td><label for ="desc" > Select Product Image : </label></td>
								<td>{{portfolio_web_form.web_image}}</td>
							</tr>
							<tr>
								<td><label for ="desc" > Enter product category : </label></td>
								<td>{{portfolio_web_form.web_category}}</td>
							</tr>
							<tr>
								<td><label for ="desc" > Enter web address(URL) : </label></td>
								<td>{{portfolio_web_form.web_url}}</td>
							</tr>
							<tr>
								<td><input type ="submit" value="Submit" class = "btn btn-success"/></td>
							</tr>
	                      </tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

	
{% endblock %}
