{% extends 'base.html' %}

{% block content %}
<form method = "POST" action ="" enctype="multipart/form-data"> 
	{% csrf_token %}
	
    <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Portfolio- Categoy Update</h3>
          </div>
          
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                
				<tr>
					<td><label for ="cat" > Category : </label></td>
					<td>{{portfolio_cat_form.category}}</td>
				</tr>
				
				<tr>
					<td><input type ="submit" value="Submit" class = "btn btn-success"/></td>
				</tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</form>
{% endblock %}