{% extends 'base.html' %}

{% block content %}


			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Services- Header Update</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
								<tr>
									<td><label for ="title" > Enter the title :</label></td>
									<td>{{services_header_form.header_title}}</td>
								</tr>
								<tr>
									<td><label for ="image_name" > Header Background Image : </label></td>
									<td>{{services_header_form.header_bgimage}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Description : </label></td>
									<td>{{services_header_form.header_description}}</textarea></td>
								</tr>
								<tr>
									<td><input type ="submit" value="Update" class = "btn btn-success"/></td>
								</tr>
							</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

	
{% endblock %}