{% extends 'base.html' %}

{% block content %}

  <form method = "POST" action ="" enctype="multipart/form-data"> 
    {% csrf_token %}
    <!-- Services- Header -->
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header"><h3 class="box-title">Services- Header Contents</h3></div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>ID</th>
                <th>Background Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Add New</th>
                <th>Update</th>
                
              </tr>
              {% for con in context %}
              <tr>
                <td>{{con.id}}</td>
                <td> <img src ='{{con.header_bgimage.url}}' height="50" width="50" class= "img-responsive"></td>
                <td>{{con.header_title}}</td>
                <td>{{con.header_description}}</td>
                <td><a href='services-header-add' class="btn btn-primary" role="button">Add New</a></td>
                <td><a href='/{{con.id}}/services-header-update/' class="btn btn-success" role="button">Update</a></td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Services- Header END -->
    <hr>
    <!-- Services - Game Plan BEGIN -->
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Services- Game Plan Contents</h3>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>ID</th>
                <th>Background Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Add New</th>
                <th>Update</th>
                
              </tr>
              {% for con in context2 %}
              <tr>
                <td>{{con.id}}</td>
                <td> <img src ='{{con.plan_image.url}}' height="50" width="50" class= "img-responsive"></td>
                <td>{{con.plan_title}}</td>
                <td>{{con.plan_description}}</td>
                <td><a href='/game-plan-add/' class="btn btn-primary" role="button">Add New</a></td>
                <td><a href='/{{con.id}}/game-plan-update/' class="btn btn-success" role="button">Update</a></td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Services - Game Plan END -->
    <hr>
    <!-- Services - Features BEGIN-->
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Services- Features Contents</h3>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>ID</th>
                <th>Image-Icon</th>
                <th>Title</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
              {% for con in context3 %}
              <tr>
                <td>{{con.id}}</td>
                <td> <img src ='{{con.features_image.url}}' height="50" width="50" class= "img-responsive"></td>
                <td>{{con.features_title}}</td>
                <td>{{con.features_description}}</td>
                <td><a href='/{{con.id}}/features-update/' class="btn btn-success" role="button">Update</a></td>
                <td><a href='/{{con.id}}/features-delete/' class="btn btn-warning" role="button">Delete</a></td>
              </tr>
              {% endfor %}
              <tr >
                <td class="col-sapn-5"><a href='/features-add' class="btn btn-primary" role="button">Add New</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Services - Features END -->
    <hr>
    <!-- Services - Our Services BEGIN -->
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Services- Our Services Contents</h3>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>ID</th>
                <th>Image-Icon</th>
                <th>Title</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
              {% for con in context4 %}
              <tr>
                <td>{{con.id}}</td>
                <td> <img src ='{{con.our_image.url}}' height="50" width="50" class= "img-responsive"></td>
                <td>{{con.our_title}}</td>
                <td>{{con.our_description}}</td>
                <td><a href='/{{con.id}}/our-services-update/' class="btn btn-success" role="button">Update</a></td>
                <td><a href='/{{con.id}}/our-services-delete/' class="btn btn-warning" role="button">Delete</a></td>
              </tr>
              {% endfor %}
                <tr >
                  <td class="col-sapn-5">
                    <a href='/our-services-add' class="btn btn-primary" role="button">Add New</a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Services - Our Services END -->
    <hr>
    <!-- Services - Portfolio BEGIN -->
    <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Services - Portfolio Details...</h3>
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Portfolio-Image</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>URL</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
                {% for con in context5 %}
                <tr>
                  <td>{{con.id}}</td>
                  <td> <img src ='{{con.portfolio_image.url}}' height="50" width="50" class= "img-responsive"></td>
                  <td>{{con.portfolio_title}}</td>
                  <td>{{con.portfolio_description}}</td>
                  <td>{{con.portfolio_url}}</td>
                  <td><a href='/{{con.id}}/portfolio-update/' class="btn btn-success" role="button">Update</a></td>
                  <td><a href='/{{con.id}}/portfolio-delete/' class="btn btn-warning" role="button">Delete</a></td>
                </tr>
                {% endfor %}
                <tr >
                  <td class="col-sapn-5"><a href='/portfolio-add' class="btn btn-primary" role="button">Add New</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <!-- Services - Portfolio END -->
    <hr>
  </form>

{% endblock %}