{% extends 'base.html' %}

{% block content %}


			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Services- Features Update</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
								<tr>
									<td><label for ="title" > Enter the title :</label></td>
									<td>{{services_features_form.features_title}}</td>
								</tr>
								<tr>
									<td><label for ="image_name" > Select an image : </label></td>
									<td>{{services_features_form.features_image}}</td>
								</tr>
								<tr>
									<td><label for ="desc" > Description : </label></td>
									<td>{{services_features_form.features_description}}</textarea></td>
								</tr>
								<tr>
									<td><input type ="submit" value="Update" class = "btn btn-success"/></td>
								</tr>
							</tbody>
						</table>
					   </div>
	                </div>
	            </div>
	            <!-- Services- Features END -->
			</form>

	
{% endblock %}