{% extends 'base.html' %}

{% block content %}
<form method = "POST" action ="" enctype="multipart/form-data"> 
    {% csrf_token %}
    
    <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">About us - Header</h3>
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Decription</th>
					</tr>
					{% for header in header %}
					<tr>
						<td> <img src ='{{header.Image.url}}' height="50" width="200" class= "img-responsive"></td>
						<td>{{header.Title1}}</td>
						<td>{{header.Title2}}</td>
						<td><a href='/{{header.id}}/AboutHeaderupdate/' class="btn btn-success" role="button">Update</a></td>
						<td><a href='' class="btn btn-warning disabled" role="button">Delete</a></td>
					</tr>
                    {%endfor%}
				</tbody>
            </table>
          </div>
        </div>
    </div>
    <!-- END -->
    <hr>
	<div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"> About Us - Our Passion & Our Team</h3>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
				<tr>
					<th>Icon</th>
					<th>Title</th>
					<th>Decription</th>
				</tr>
				{% for body in body %}
				<tr>
					<td> <img src ='{{body.Icon.url}}' height="50" width="200" class= "img-responsive"></td>
					<td>{{body.Title}}</td>
					<td>{{body.Decription}}</td>
					<td><a href='/{{body.id}}/AboutBodyupdate/' class="btn btn-success" role="button">Update</a></td>
					<td><a href='/BackendDemo/{{body.id}}/companydelete' class="btn btn-warning disabled" role="button">Delete</a></td>
				</tr>
				{%endfor%}
				
			</tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- END -->
    <hr>
				<div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">About us - Image </h3>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
				<tr>
					<th>Image</th>
					
				</tr>
				{% for bodyimg in bodyimg %}
									
				<tr>
					<td> <img src ='{{bodyimg.Image.url}}' height="50" width="200" class= "img-responsive"></td>
					<td><a href='/{{bodyimg.id}}/AboutBodyImgupdate/' class="btn btn-success" role="button">Update</a></td>
					<td><a href='' class="btn btn-warning disabled" role="button">Delete</a></td>
				</tr>				
				{%endfor%}
			</tbody>
          </table>
          </div>
        </div>
      </div>
    <!-- END -->
    <hr>
			<div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">About us - Portfolio</h3>
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                 <tbody>
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Decription</th>
					</tr>
					{% for img in img %}	
					<tr>
						<td> <img src ='{{img.Image.url}}' height="50" width="200" class= "img-responsive"></td>
						<td>{{img.Title}}</td>
						<td>{{img.Decription}}</td>
						<td><a href='/{{img.id}}/AboutImgupdate/' class="btn btn-success" role="button">Update</a></td>
						<td><a href='/{{img.id}}/Aboutdelete/' class="btn btn-warning " role="button">Delete</a></td>
					</tr>
					{%endfor%}
					<tr>
						<td><a href='/AboutusImgAdd/' class="btn btn-warning" role="button">Add</a></td>
					</tr>
				</tbody>
            </table>
          </div>
        </div>
    </div>
    <!-- Services- Header END -->
    <hr>
</form>
{% endblock %}