{% extends 'base.html'%}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">About us- Image update</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
								<tr>
									<th>Image</th>
								</tr>
								<tr>
									<td>{{form.Image}}</td>
									<td><button>Update</button></td>
								</tr>
							</tbody>
              </table>
            </div>
          </div>
        </div>
      </form>

 
{% endblock %}