<!DOCTYPE html>
<html lang="en">
<head>
    <title> AMC | Blog</title>
</head><!--/head-->

<body class="homepage">
    {% include 'webpage/layout.html' %}


   {% include 'webpage/header.html' %}
    <div class="container main">        
        <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="portfolio_submenu">
                <li><a href="/Articles.html/"><h5>ARTICLES</h5></a></li>
                <li><a href="/Blog.html/"><h5>BLOG</h5></a></li>
            </ul>
        </div>
    </div>
   <section class="pricing-page">

        <div class="container">
                     
            <div class="pricing-area text-center">
             
                <div class="row"> 
                    {%for queryset5 in queryset5%}
                    <div class="col-md-6 plan price-four wow fadeInDown">
                    
                        <div class="blog_date1" style="background-image: url({{queryset5.blog_image.url}})">
                            <div class="blog_date_back">
                                <h2 class="blog_date_back_h1"><b>{{queryset5.date_no}}</b><hr class="blog_date_back_hr">
                               <p class="blog_date_back_p">{{queryset5.date_char}}</p></h2>
                            </div>                             
                        </div>
                            <div class="blog_section">
                                <h5 class="blog_cal"><i class="fa fa-calendar-o cal_font" aria-hidden="true">{{queryset5.calender}}&nbsp;</i>by &nbsp;{{queryset5.by}}</h5>
                                <h4 class="blog_gallary_title">{{queryset5.bolg_title}}</h4>
                                <h5 class="blog_gallary_para">{{queryset5.bolg_discription}}</h5>
                            </div>
                    </div>
                  {%endfor%}  
                </div>
             
             </div>
        
        </div>  
     
             
    </section><!--/pricing-page-->
   
    
   {% include 'webpage/footer.html' %}
       
    <!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>