{% extends 'base.html' %}
        
{% block content %}
      
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="portfolio_submenu">
            <li><a href="/article-admin/"><h5>ARTICLES</h5></a></li>
            <li><a href="/blog-admin/"><h5>BLOG</h5></a></li>
        </ul>
    </div>
       
      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        
              <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Blog page- intro details</h3>
                    </div>
                    
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">

                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Date</th>
                                    <th> Month</th>
                                    <th>Calender</th>
                                    <th>By</th>
                                    <th>Title</th>
                                    <th>Discription</th>
                                    <!-- <th>Update</th>
                                    <th>Delete</th> -->
                                    
                                </tr>
                          
                                {% for obj in queryset5 %}
                                <tr>

                                    <td>{{obj.id}}</td>
                                    <!--<td>{{obj.image}}</td>-->
                                    <td><img class="img-circle" src="{{obj.blog_image.url}}" value="{{obj.photo.url}}" width="110px" height="100px"> </td>
                                    <td>{{obj.date_no}}</td>
                                    
                                    <td>{{obj.date_char}}</td>
                                   <td>{{obj.calender}}</td>
                                    <td>{{obj.by}} </td>
                                    <td>{{obj.bolg_title}} </td>
                                    <td>{{obj.bolg_discription}} </td>
     
                                </tr>
                                <td><a href='/{{obj.id}}/blog_page_upadete/' class="btn btn-success" role="button">Update</a></td>
                                <td>
                                <a href='/{{obj.id}}/bolg_page_delete' class="btn btn-danger" role="button" onclick="myFunction()">Delete</a>
                                </td> 
                                {% endfor %}

                                  <tr>  
                                 <td><a href='/add_new_bolg' class="btn btn-info" role="button">Add New</a></td>
                                 </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
        </form>

    
  {% endblock %}