{% extends 'base.html'%}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">HMS page bottom - icons update</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>

	                    <tr>
		                    <td>Select Image</td>
		                    <td>{{form.image_icon}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Icon</td>
		                    <td>{{form.icon2}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Title</td>
		                    <td>{{form.title2}}</td>
	                    </tr>
	                   
                     <tr>
                        <td>Enter URL</td>
                        <td>{{form.image_url}}</td>
                      </tr>
                     
							<!-- {{form.as_p}} -->
						
								
						<tr>
							<td>
						<input type ="submit" class="btn btn-primary" value ="Update"/></td>
					</tr>
					</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>
	
{% endblock %}