{% extends 'base.html'%}

{% block content %}


      <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Contact us Add</h3>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
							<tr>		
								<th>Country</th>
									<th>Address Line1</th>
									<th>Address Line2</th>
									<th>State</th>
									<th>Pin</th>
									<th>Contact</th>
							</tr>
							<tr>
								<td>{{form.country}}</td>
									<td>{{form.adress_line1}}</td>
									<td>{{form.adress_line2}}</td>
									<td>{{form.state}}</td>
									<td>{{form.pin}}</td>
									<td>{{form.contact}}</td>
								<td><button>Add</button></td>
							</tr>
						</tbody>
              </table>
            </div>
          </div>
        </div>
      </form>

  
{% endblock %}