{% extends 'base.html' %}

{% block content %}

 
	 <form method = "POST" action ="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <!-- Services- Header -->
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Contact us  Admin panel</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                      <tbody>
											<tr>
												<th>Country</th>
												<th>Address Line1</th>
												<th>Address Line2</th>
												<th>State</th>
												<th>Pin</th>
												<th>Contact</th>
											</tr>
										
											{% for footer in footer %}
									
												<tr>
													<td>{{footer.country}} </td>
													<td>{{footer.adress_line1}}</td>
													<td>{{footer.adress_line2}} </td>
													<td> {{footer.state}}</td>
													<td> {{footer.pin}}</td>
													<td> {{footer.contact}} </td>
													<td><a href='/{{footer.id}}/Contactupdate/' class="btn btn-success" role="button">Update</a></td>
													<td><a href='/{{footer.id}}/Contactdelete/' class="btn btn-warning" role="button">Delete</a></td>
												</tr>
									
											{%endfor%}
											<tr>
											<td><a href='/ContactAdd/' class="btn btn-warning" role="button">Add</a></td>
										</tr>
									</tbody>
                </table>
              </div>
            </div>
        </div>
        <!-- Services- Header END -->
        <hr>
    </form>
 
  
{% endblock %}