
<footer id="footer" class="midnight-blue footer_color">
    <div class="container-fluid ">
        <div class="col-md-12 col-sm-12 footer_color">
        {% for footer in footer %}
            <div class="col-md-3 col-sm-12">
                <h4>
                    {{footer.country}}
                </h4>
                <h5>
                    {{footer.adress_line1}}&nbsp;{{footer.adress_line2}} <br>
                    {{footer.state}}&nbsp;{{footer.pin}}<br>
                    {{footer.contact}}<br>
                </h5>
            </div>
        {% endfor %}
        </div>
     
        <div class="footer_bottom ">
            <div class="col-md-12 col-sm-12 footer_color">
                {% for quote in copyright %}
                <div class="col-md-6 col-sm-6">
                    <p>
                        {{quote.copy_right_quote}}
                    </p>
                </div>
                {% endfor %}
            </div>      
        </div>      
    </div>  
</footer> 

