<!DOCTYPE html>
{% load static %}
    <html>
        <head>
            <title></title>
        </head>
        
        <body>
            <header id="header">
                <nav class="navbar navbar-inverse" role="banner">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                                <a class="navbar-brand" href="/Home.html/">
                                    <img src="{% static 'Amc/images/MENU_BAR/logo.png' %}" alt="logo" width="121px">
                                </a>
                        </div>
                            <div class="collapse navbar-collapse navbar-right">
                                <ul class="nav navbar-nav">
                                <!-- <li class="active"><a href="index.html">Home</a></li> -->
                                <li><a href="/About.html/">About</a></li>
                                <li><a href="/Services.html/">Services</a></li>
                                <li><a href="/HMS.html/">hms</a></li> 
                                <li><a href="/Blog.html/">Blog</a></li>
                                <li><a href="/Portfolio.html/">Portfolio</a></li>
                                <li><a href="/Contact-us.html/">Contact us</a></li> 
                                <li>
                                    <div class="social">
                                        <ul class="social-share">
                                            <li>
                                                <a href="#">
                                                    <img src="{% static 'Amc/images/MENU_BAR/facebook.png' %}" alt="logo" width="26px">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <img src="{% static 'Amc/images/MENU_BAR/twitter.png' %}" alt="logo" width="26px">
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <img src=" {% static 'Amc/images/MENU_BAR/linkedin.png' %}" alt="logo" width="26px">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>                      
                                </ul>
                            </div>
                </nav>
            </header><!--/header-->
        </body>
    </html>