{% extends 'base.html' %}

{% block content %}

			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Home buttom page- update details</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>
	                    <tr>
		                    <td>Select Image</td>
		                    <td>{{form.icon_image3}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter title_index5</td>
		                    <td>{{form.title_index5}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter dis_index3</td>
		                    <td>{{form.dis_index3}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter image_bottom</td>
		                    <td>{{form.image_bottom}}</td>
	                    </tr>
							<!-- {{form.as_p}} -->
					
							</tr>
						<tr><td>	
						<input type ="submit" class="btn btn-primary" value ="Update"/></td>
					</tr>
					</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

{% endblock %}
