{% extends 'base.html' %}

{% block content %}


			<form method = "POST" action ="" enctype="multipart/form-data"> 
				{% csrf_token %}
				
	            <div class="col-xs-12">
	                <div class="box">
	                  <div class="box-header">
	                    <h3 class="box-title">Home Middle page- update details</h3>
	                  </div>
	                  
	                  <div class="box-body table-responsive no-padding">
	                    <table class="table table-hover">
	                      <tbody>


	                    <tr>
		                    <td>Select Image</td>
		                    <td>{{form.image_bg2p5}}</td>
	                    </tr>
	                    <tr>
		                    <td>Select Icon_Image</td>
		                    <td>{{form.icon_image2p6}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Title</td>
		                    <td>{{form.title_index3p7}}</td>
	                    </tr>
	                    <tr>
		                    <td>Enter Discription</td>
		                    <td>{{form.dis_index2p8}}</td>
	                    </tr>
	                   
							<!-- {{form.as_p}} -->
						
								
					
						<tr>
							<td>
						<input type ="submit" class="btn btn-primary" value ="Update"/></td>
        				</tr>
        
					</tbody>
	                    </table>
	                  </div>
	                </div>
	            </div>
	            
			</form>

	
{% endblock %}
