.signout-btn {
	color:#ffffff; 
	text-decoration:None; 

	}

.signout-btn:hover {
	color:'#000000';
	text-decoration:None;
	}
.user-name {
	color:white;

}


.portfolio_submenu{
  /*margin: 20px;*/
  /*padding: 0;*/
  overflow: hidden;
  /*background-color: white;*/
  /*background-color: #333;*/
  text-transform: uppercase;
}

.portfolio_submenu li{
  display: inline;
  font-weight: bold;
  padding: 14px 16px;
  
}

.portfolio_submenu li a{
  color: #000000;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  float: right;
}

.portfolio_submenu li a h5{
    font-weight: normal;
}

.portfolio_submenu li a:hover{
  text-decoration: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

.wrapper-style {
	height:600px; 
	overflow:auto;
}